@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1f1f1f;
        --foreground: #ededed;
        --track-bg: #373737; /* Dark mode track */
        --thumb-bg: #555555; /* Dark mode thumb */
    }
}

/* WebKit-based browsers (Chrome, Edge, Safari, Opera) */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--track-bg);
    border-radius: 999px;
}

*::-webkit-scrollbar-thumb {
    background: var(--thumb-bg);
    border-radius: 999px;
}

/* Universal fallback for browsers that don't support custom scrollbars */
* {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: var(--thumb-bg) var(--track-bg); /* Thumb and track colors */
}

body {
    color: var(--foreground);
    background: var(--background);
    height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
}